.fs-5{
  margin-top: 30px;
}
.pdfLista{
  margin-top: 12px;
  width: 180px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(56, 56, 54)
}
.pdfLista p{
  padding: 8px;
}
app-pdflist{
  margin-top: 0px;
}


