<div class="container text-center contenedorPrincipal">
  <div class="row">
    <div class="col-sm-8 imagenPrincipal">
      <img [src]="imgPrincipal">
      <h1>Junta Directiva</h1>
      <h6>Garantias Comunitarias</h6>
    </div>
    <div class="col-sm-4 imagenUsuario">
      <img [src]="imgUser">
      <h1><strong>Bienvenido,</strong></h1>
      <h6>Steven</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-sm form">
      <app-formulariopoder></app-formulariopoder>
    </div>
    <div class="col-sm formReunion">
      <app-inicio-reunion></app-inicio-reunion>
    </div>
    <div class="col-sm">
      <div class="meets">
        <p>Tus próximas reuniones</p>
        <app-meetings *ngFor="let meet of meets" ></app-meetings>
      </div>
    </div>
  </div>
</div>
