<div class="container text-center">
  <div class="row">
    <div class="col-sm-7 imagenPrincipal">
      <img [src]="imgPrincipal">
      <h1>Junta Directiva</h1>
      <h6>Garantias Comunitarias</h6>
    </div>
    <div class="col-sm-4 imagenUsuario">
      <img [src]="imgUser">
      <h1><strong>Bienvenido,</strong></h1>
      <h6>Steven</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-lg form">
      <app-formulariopoder></app-formulariopoder>
    </div>
    <div class="col-lg">col-sm</div>
    <div class="col-lg">col-sm</div>
  </div>
</div>
