<div class="reunion">
  <p>La reunión comezará en</p>
  <div class="inicioReunion">
    <div class="dias">
      <p>10</p>
      <p>Dias</p>
    </div>
    <p>:</p>
    <div class="horas">
      <p>12</p>
      <p>horas</p>
    </div>
    <p>:</p>
    <div class="minutos">
      <p>30</p>
      <p>Minutos</p>
    </div>
  </div>
  <div class="progress progress-striped">
    <div class="progress-bar barra" role="progressbar" style="width:70%">
      70%
    </div>
  </div>
  <button type="button" class="btn btn-outline-dark boton2">Ingresa a la reunión</button>
</div>
