*img{
  width: 18px;
  height: 18px;
}
ul{
  list-style:none ;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}
ul li{
  margin: 12px;
  padding-bottom: 10px;
  p{
    font-size: small;
  }
}
.pdf{
  width: 180px;
  height: 24px;
}

